@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("../fonts/bebas/bebas-neue-v2-latin-regular.woff2") format("woff2"), url("../fonts/bebas/bebas-neue-v2-latin-regular.woff") format("woff"), url("../fonts/bebas/bebas-neue-v2-latin-regular.ttf") format("truetype"); }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local(""), url("../fonts/opensans/open-sans-v27-latin-300.woff2") format("woff2"), url("../fonts/opensans/open-sans-v27-latin-300.woff") format("woff"), url("../fonts/opensans/open-sans-v27-latin-300.ttf") format("truetype"); }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("../fonts/opensans/open-sans-v27-latin-regular.woff2") format("woff2"), url("../fonts/opensans/open-sans-v27-latin-regular.woff") format("woff"), url("../fonts/opensans/open-sans-v27-latin-regular.ttf") format("truetype"); }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""), url("../fonts/opensans/open-sans-bold.ttf") format("truetype"); }
*::-webkit-scrollbar {
  width: 7px; }

*::-webkit-scrollbar-track {
  background: #FFB548; }

*::-webkit-scrollbar-thumb {
  background: #e93830; }

*::-webkit-scrollbar-thumb:hover {
  background: #d01e16; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 10px; }

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  font-family: 'Open sans';
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2;
  color: #ffffff; }
  body.no--scroll {
    overflow: hidden; }

img {
  display: inline-block;
  min-width: 100%;
  height: auto;
  vertical-align: middle; }

.container {
  max-width: 123rem;
  min-width: 32rem;
  margin: 0 auto;
  padding: 0 1.5rem; }

h1, h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 8rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .3rem;
  line-height: 1; }
  @media only screen and (max-width: 768px) {
    h1, h2 {
      font-size: 6rem; } }
  @media only screen and (max-width: 500px) {
    h1, h2 {
      font-size: 4rem; } }

h3 {
  font-family: 'Open sans', sans-serif;
  font-size: 2.4rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: .1rem; }
  @media only screen and (max-width: 768px) {
    h3 {
      font-size: 1.8rem; } }
  @media only screen and (max-width: 500px) {
    h3 {
      font-size: 1.4rem; } }

h4 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 3.6rem;
  font-weight: 400;
  color: #FFB548;
  letter-spacing: .2rem; }
  @media only screen and (max-width: 768px) {
    h4 {
      font-size: 3rem; } }
  @media only screen and (max-width: 500px) {
    h4 {
      font-size: 2.6rem; } }

p {
  font-family: 'Open sans', sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.4; }
  @media only screen and (max-width: 500px) {
    p {
      font-size: 1.4rem; } }

.header {
  padding: 2rem 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10; }
  .header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__logo img {
    width: 5.5rem;
    height: 5.5rem; }
    @media only screen and (max-width: 500px) {
      .header__logo img {
        width: 4rem;
        height: 4rem; } }
  .header__logo.no--logo {
    visibility: hidden; }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 4rem;
            column-gap: 4rem; }
    @media only screen and (max-width: 1000px) {
      .header__nav {
        -webkit-column-gap: 2rem;
                column-gap: 2rem; } }
    @media only screen and (max-width: 900px) {
      .header__nav {
        display: none; } }
  .header__link {
    padding: 0 1rem;
    position: relative;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    white-space: nowrap;
    z-index: 1; }
    .header__link::after {
      display: block;
      content: '';
      background: #FFB548;
      width: 0;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      -webkit-transition: 0.2s linear;
      transition: 0.2s linear; }
    .header__link:hover::after {
      width: 100%; }
  .header__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 2rem;
            column-gap: 2rem; }
    @media only screen and (max-width: 900px) {
      .header__social {
        display: none; } }
  .header__lang select {
    padding: 0 .5rem;
    border: none;
    outline: none;
    background: none;
    color: inherit;
    font-family: 'Open sans';
    font-size: 1.4rem;
    font-weight: 700;
    cursor: pointer; }
    .header__lang select option {
      color: #1A1917; }
  .header__divide {
    background: #ffffff;
    width: 0.1rem;
    height: 3rem; }
  .header__game a {
    display: inline-block;
    width: 3rem;
    height: 3rem; }
    .header__game a:first-child {
      margin-right: 1rem; }
  .header__btn {
    display: none;
    position: relative;
    z-index: 20; }
    @media only screen and (max-width: 900px) {
      .header__btn {
        display: block; } }
    .header__btn button {
      position: relative;
      display: block;
      width: 4rem;
      height: 4rem;
      background: #FFB548;
      border: none;
      outline: none;
      border-radius: 50%;
      cursor: pointer;
      -webkit-transition: 0.2s linear;
      transition: 0.2s linear; }
      .header__btn button span {
        display: block;
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        background: #ffffff;
        width: 1.8rem;
        height: .14rem;
        pointer-events: none;
        -webkit-transition: 0.2s linear;
        transition: 0.2s linear; }
        .header__btn button span:nth-child(1) {
          top: 37%; }
        .header__btn button span:nth-child(2) {
          top: 50%;
          opacity: 1; }
        .header__btn button span:nth-child(3) {
          top: 63%; }
      .header__btn button:hover {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
        background: #e93830; }
      .header__btn button.active {
        background: #e93830;
        -webkit-transform: scale(1.1);
                transform: scale(1.1); }
        .header__btn button.active span {
          width: 2.3rem; }
          .header__btn button.active span:nth-child(1) {
            top: 50%;
            left: 22%;
            -webkit-transform: rotate(-45deg);
                    transform: rotate(-45deg); }
          .header__btn button.active span:nth-child(2) {
            opacity: 0; }
          .header__btn button.active span:nth-child(3) {
            top: 50%;
            left: 22%;
            -webkit-transform: rotate(45deg);
                    transform: rotate(45deg); }
  .header.active {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: #1A1917;
    padding: 1rem 0;
    -webkit-animation: head-down .5s linear;
            animation: head-down .5s linear; }
@-webkit-keyframes head-down {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }
@keyframes head-down {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }
  .header.no--bg {
    background: transparent; }

.intro {
  height: 100vh;
  position: relative;
  background: #1A1917 url("../img/bg-main.jpg") no-repeat center/cover; }
  .intro::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: #08090a;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(3%, #08090a), color-stop(30%, rgba(52, 44, 29, 0.6)), to(rgba(255, 181, 72, 0.2)));
    background: linear-gradient(0deg, #08090a 3%, rgba(52, 44, 29, 0.6) 30%, rgba(255, 181, 72, 0.2) 100%);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0; }
  .intro::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: #08090a;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, rgba(8, 9, 10, 0.7)), color-stop(30%, rgba(52, 44, 29, 0)), to(rgba(255, 181, 72, 0)));
    background: linear-gradient(180deg, rgba(8, 9, 10, 0.7) 5%, rgba(52, 44, 29, 0) 30%, rgba(255, 181, 72, 0) 100%);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0; }
  .intro__inner {
    position: relative;
    height: 100vh;
    display: grid;
    place-content: center;
    z-index: 1; }
  .intro__about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .intro__about p {
      font-family: 'Bebas Neue', sans-serif;
      font-weight: 400;
      letter-spacing: .3rem;
      font-size: 2.4rem;
      text-transform: uppercase; }
      @media only screen and (max-width: 768px) {
        .intro__about p {
          font-size: 1.8rem; } }
      @media only screen and (max-width: 500px) {
        .intro__about p {
          font-size: 1.4rem; } }
    .intro__about a {
      border: none;
      outline: none;
      background: none;
      margin-top: 3rem;
      padding: 1.5rem;
      background-color: #FFB548;
      color: #1A1917;
      font-family: 'Open sans';
      font-size: 1.6rem;
      font-weight: 700;
      text-decoration: none;
      cursor: pointer;
      -webkit-transition: 0.2s linear;
      transition: 0.2s linear; }
      @media only screen and (max-width: 500px) {
        .intro__about a {
          font-size: 1.4rem;
          padding: 1rem;
          margin-top: 2rem; } }
      .intro__about a:hover {
        background-color: #e93830;
        color: #ffffff; }
  .intro__scroll {
    position: absolute;
    bottom: 5%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 1;
    text-align: center; }
    .intro__scroll p {
      text-transform: uppercase;
      font-size: 1.2rem; }
    .intro__scroll img {
      min-width: 2rem;
      -webkit-animation: scroll-down 1s linear alternate infinite;
              animation: scroll-down 1s linear alternate infinite; }
@-webkit-keyframes scroll-down {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px); } }
@keyframes scroll-down {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px); } }
.whatis {
  padding: 9.6rem 0;
  position: relative;
  height: 80rem;
  background: #1A1917 url("../img/bg-image-1.jpg") no-repeat center/cover; }
  @media only screen and (max-width: 900px) {
    .whatis {
      height: 65rem;
      padding: 8rem 0; } }
  @media only screen and (max-width: 768px) {
    .whatis {
      height: 50rem;
      padding: 5rem 0; } }
  @media only screen and (max-width: 500px) {
    .whatis {
      height: 35rem;
      padding: 3rem 0; } }
  .whatis::before {
    content: '';
    display: block;
    background: rgba(26, 25, 23, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1; }
  .whatis::after {
    content: '';
    display: block;
    background: #002424;
    background: radial-gradient(circle, rgba(0, 36, 36, 0) 0%, black 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2; }
  .whatis__inner {
    position: relative;
    z-index: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .whatis__left {
    position: relative;
    z-index: 4;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%; }
    @media only screen and (max-width: 650px) {
      .whatis__left {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%; } }
  .whatis__title {
    max-width: 41rem;
    margin-bottom: 7rem; }
    .whatis__title h3 {
      margin-bottom: 1rem; }
    @media only screen and (max-width: 1020px) {
      .whatis__title {
        margin-bottom: 5rem; } }
    @media only screen and (max-width: 500px) {
      .whatis__title {
        margin-bottom: 3rem; } }
    .whatis__title::after {
      content: '';
      display: block;
      background: #ffffff;
      width: 200%;
      height: 0.2rem; }
      @media only screen and (max-width: 1020px) {
        .whatis__title::after {
          width: 150%; } }
      @media only screen and (max-width: 650px) {
        .whatis__title::after {
          width: 75%; } }
  .whatis__describe {
    max-width: 37rem;
    margin-left: auto; }
    .whatis__describe p {
      text-align: justify; }
      .whatis__describe p span {
        padding: 0 .5rem;
        background: #FFB548; }
    .whatis__describe p + p {
      margin-top: 1rem; }
  .whatis__right {
    margin-left: auto; }
    @media only screen and (max-width: 650px) {
      .whatis__right {
        display: none; } }
    .whatis__right img {
      max-width: 50rem; }
      @media only screen and (max-width: 1020px) {
        .whatis__right img {
          max-width: 40rem; } }
      @media only screen and (max-width: 850px) {
        .whatis__right img {
          max-width: 30rem; } }

.features {
  position: relative;
  display: grid;
  place-content: center;
  height: 96rem;
  background: #1A1917 url("../img/bg-image-2.jpg") no-repeat center/cover; }
  @media only screen and (max-width: 900px) {
    .features {
      height: 70rem; } }
  @media only screen and (max-width: 768px) {
    .features {
      height: 60rem; } }
  @media only screen and (max-width: 500px) {
    .features {
      height: 50rem; } }
  .features__inner {
    padding: 1rem;
    background: rgba(26, 25, 23, 0.5); }
  .features__title {
    margin-bottom: 7rem; }
    @media only screen and (max-width: 768px) {
      .features__title {
        margin-bottom: 5rem; } }
    @media only screen and (max-width: 500px) {
      .features__title {
        margin-bottom: 3rem; } }
    .features__title h3 {
      margin-bottom: 1rem; }
  .features__list {
    position: relative;
    max-width: 36rem;
    padding-left: 4rem; }
    .features__list p {
      margin-top: 1rem; }
    .features__list h4 {
      margin-top: 4rem; }
      .features__list h4:first-child {
        margin-top: 0; }
      @media only screen and (max-width: 500px) {
        .features__list h4 {
          margin-bottom: 2rem; } }
    .features__list::before {
      content: '';
      display: block;
      background: #ffffff;
      width: 0.2rem;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0; }

.system {
  padding: 10rem 0;
  height: 96rem;
  background: #1A1917 url("../img/bg-image-3.jpg") no-repeat center/cover; }
  @media only screen and (max-width: 768px) {
    .system {
      padding: 5rem 0;
      height: 80rem; } }
  @media only screen and (max-width: 768px) {
    .system {
      padding: 3rem 0;
      height: 60rem; } }
  .system__title {
    text-align: center;
    margin-bottom: 10rem; }
    @media only screen and (max-width: 768px) {
      .system__title {
        margin-bottom: 7rem; } }
    @media only screen and (max-width: 500px) {
      .system__title {
        margin-bottom: 5rem; } }
    .system__title h3 {
      margin-bottom: 1rem; }
      @media only screen and (max-width: 500px) {
        .system__title h3 {
          font-size: 1.2rem; } }
  .system__requirements {
    position: relative;
    display: inline-grid;
    grid-template-columns: repeat(2, 27rem);
    -ms-flex-line-pack: center;
        align-content: center;
    border-left: 0.1rem solid rgba(255, 255, 255, 0.2);
    border-top: 0.1rem solid rgba(255, 255, 255, 0.2); }
    @media only screen and (max-width: 768px) {
      .system__requirements {
        grid-template-columns: repeat(2, 23rem); } }
    @media only screen and (max-width: 500px) {
      .system__requirements {
        grid-template-columns: repeat(2, 1fr); } }
    .system__requirements::after {
      content: '';
      display: block;
      background: url("../img/line-croocked.png") no-repeat;
      width: 92px;
      height: 11px;
      position: absolute;
      bottom: 0;
      left: 5rem; }
      @media only screen and (max-width: 768px) {
        .system__requirements::after {
          display: none; } }
  .system__grid {
    padding: 1rem;
    width: 100%;
    height: 13rem;
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.2);
    border-right: 0.1rem solid rgba(255, 255, 255, 0.2); }
    @media only screen and (max-width: 768px) {
      .system__grid {
        height: 10rem; } }
    @media only screen and (max-width: 500px) {
      .system__grid {
        height: 8.5rem; } }
    @media only screen and (max-width: 450px) {
      .system__grid {
        height: 12rem; } }
    .system__grid:nth-child(5) {
      grid-column: span 2; }
    .system__grid h3 {
      color: #FFB548;
      font-weight: 400;
      margin-bottom: 2rem; }
      @media only screen and (max-width: 768px) {
        .system__grid h3 {
          margin-bottom: 1.5rem; } }
      @media only screen and (max-width: 500px) {
        .system__grid h3 {
          margin-bottom: 1rem; } }
    @media only screen and (max-width: 768px) {
      .system__grid p {
        font-size: 1.4rem; } }

.modal {
  display: none;
  padding: 0 3rem;
  background: rgba(26, 25, 23, 0.9) url("../img/texture.png") center;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 9;
  overflow: hidden;
  -webkit-animation: menu-up .7s ease-out;
          animation: menu-up .7s ease-out; }
@-webkit-keyframes menu-up {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }
@keyframes menu-up {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }
  @media only screen and (max-width: 600px) {
    .modal {
      padding: 0 1rem; } }
  .modal::after {
    content: '';
    display: block;
    background: #000000;
    -webkit-clip-path: polygon(0 0, 80% 0, 40% 100%, 0% 100%);
            clip-path: polygon(0 0, 80% 0, 40% 100%, 0% 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: .4; }
  .modal__menu {
    height: 100vh;
    position: relative;
    z-index: 11;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .modal__nav {
    font-family: 'Open sans', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    row-gap: 5rem; }
    @media only screen and (max-width: 600px) {
      .modal__nav {
        row-gap: 2.5rem; } }
  .modal__logo {
    display: none;
    -ms-flex-item-align: start;
        align-self: flex-start;
    -webkit-transform: scale(1.5);
            transform: scale(1.5); }
    @media only screen and (max-width: 600px) {
      .modal__logo {
        -webkit-transform: scale(1.2);
                transform: scale(1.2); } }
  .modal__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    color: #ffffff; }
    .modal__links a {
      color: inherit;
      text-decoration: none;
      font-size: 6rem;
      font-family: 'Open sans';
      font-weight: 300;
      -webkit-transition: 0.2s linear;
      transition: 0.2s linear; }
      @media only screen and (max-width: 600px) {
        .modal__links a {
          font-size: 4rem; } }
      .modal__links a:hover {
        color: #FFB548; }
  .modal__follow {
    position: relative; }
    .modal__follow h3 {
      font-family: 'Open sans';
      font-size: 6rem;
      color: #ffffff;
      font-weight: 300; }
      @media only screen and (max-width: 600px) {
        .modal__follow h3 {
          font-size: 4rem; } }
    .modal__follow::before {
      content: '';
      display: block;
      background: rgba(255, 255, 255, 0.4);
      width: 25rem;
      height: 0.1rem;
      position: absolute;
      top: -25%;
      right: 0; }
      @media only screen and (max-width: 600px) {
        .modal__follow::before {
          width: 15rem; } }
    .modal__follow::after {
      content: '';
      display: block;
      background: rgba(255, 255, 255, 0.4);
      width: 100%;
      height: 0.1rem;
      width: 25rem;
      height: 0.1rem;
      position: absolute;
      bottom: -25%;
      right: 0; }
      @media only screen and (max-width: 600px) {
        .modal__follow::after {
          width: 15rem; } }
  .modal__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 2rem;
            column-gap: 2rem; }
    @media only screen and (max-width: 600px) {
      .modal__social {
        -webkit-column-gap: 1rem;
                column-gap: 1rem; } }
    .modal__social_icon {
      color: #ffffff;
      font-size: 3rem;
      -webkit-transition: 0.2s linear;
      transition: 0.2s linear; }
      @media only screen and (max-width: 600px) {
        .modal__social_icon {
          font-size: 2rem; } }
      .modal__social_icon:hover {
        color: #FFB548; }
  .modal__author {
    color: #ffffff;
    font-size: 1.6rem; }
    .modal__author a {
      color: inherit;
      text-decoration: none;
      -webkit-transition: 0.2s linear;
      transition: 0.2s linear; }
      .modal__author a:hover {
        color: #FFB548; }
    @media only screen and (max-width: 600px) {
      .modal__author {
        font-size: 1.2rem; } }
  .modal.active {
    display: block; }

/*# sourceMappingURL=main.css.map */