@font-face {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''),
         url('../fonts/bebas/bebas-neue-v2-latin-regular.woff2') format('woff2'),
         url('../fonts/bebas/bebas-neue-v2-latin-regular.woff') format('woff'),
         url('../fonts/bebas/bebas-neue-v2-latin-regular.ttf') format('truetype');
  }
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local(''),
         url('../fonts/opensans/open-sans-v27-latin-300.woff2') format('woff2'),
         url('../fonts/opensans/open-sans-v27-latin-300.woff') format('woff'),
         url('../fonts/opensans/open-sans-v27-latin-300.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''),
         url('../fonts/opensans/open-sans-v27-latin-regular.woff2') format('woff2'),
         url('../fonts/opensans/open-sans-v27-latin-regular.woff') format('woff'),
         url('../fonts/opensans/open-sans-v27-latin-regular.ttf') format('truetype');
  }
  @font-face {
     font-family: 'Open Sans';
     font-style: normal;
     font-weight: 700;
     font-display: swap;
     src: local(''),
          url('../fonts/opensans/open-sans-bold.ttf') format('truetype');
   }